.clientloan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.6);
    margin-left: 100px;
   margin-right: 100px;
   border-radius: 10px;
   margin-top: 10px;
   
}


.clientloan h1 {
    color: white;
    font-weight: bold;
}
.clientloan h1:hover {
transform: scale(1.3);
}


.clientdatos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    padding: 10px;
    color:rgb(230, 244, 255);
}

.clientdatos:hover {
    transform: scale(1.3);
}


.bton {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    width: 150px;
    border-radius: 5px;
}

.bton:hover {
    cursor: pointer;
    background-color: rgb(164, 206, 245);
}

.Loans {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background: rgba(0,0,0,0.6);
    gap: 10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 15px;
    border-radius: 10px;
    color: white;
}

.Loans h3 {
    margin-bottom: 20px;
}

.loanpartes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   gap: 10px;
}

.loanpartes button {
    width: 200px;
    border-radius: 7px;
    margin-bottom: 10px;

}

.loanpartes button:hover {
    background-color: rgb(120, 255, 255);
    cursor: pointer;
    transform: scale(1.05);
}



.loanpartes2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px
}

.loanpartes2 button {
    width: 200px;
    padding: 5px;
    border-radius: 7px;
}

.Payments {
    margin-top: 10px;
    margin-bottom: 50px;
}

.Payments button {
    margin-bottom: 10px;
    width: 150px;
    padding: 2px;
    border-radius: 7px;
}

table {
    width: 100%;
   
    
  }
  
  td {
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
  }
  
  tbody td:not(td:first-of-type):hover {
    transform: scale(1.2);
    opacity: 0.9;
  }
  
  tbody tr:nth-child(even) {
    background: rgba(0,0,0,0.3);
  }
