
*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}




header {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* text-transform: uppercase; */
    padding: 5px 1%;
   background: rgba(0,0,0,0.4);
  
  }

 
  
 .logo img {
   /* padding-left: 15px;
   padding-top: 15px; */
      width: 90px;
      height: 70px;
      float: left;
     
    } 
  
    .logo img:hover { 
      transform: scale(1.2);
    }


  nav li {
    display: inline-block;
    list-style: none;
    padding: 0px 50px;
  } 

  nav li a {
    color:white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }

  nav li a:hover {
    color:yellow;

  }
  
    /* nav {
     
      float: right;
      width: 800px;
     ;
    } */
 
    /* nav li a{
      text-decoration: none;
      color: white;
      padding: 30px 50px;
      background: linear-gradient(to bottom, #fff 0%, #fff 100%);
      background-position: 0 70%;
      background-repeat: repeat-x;
      background-size: 1px 1px;
      font-weight: bold;
  
    } */
  
    /* nav li a:hover {
     
      color: #ffeb2a;
    } */